[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[dev-packages]

[packages]
google-auth = "*"
google-api-python-client = "*"
"oauth2client" = "*"

[requires]
python_version = "3.6"
